.bullets {
  padding: 10px;
}

.bullets ul {
  padding: 0;
  gap: 10px;
}

.bullets ul.locked {
  padding-left: 25px;
}

.bullets li.locked {
  list-style-type: disc;
}

.bullets h4 {
  line-height: 2;
}
