.expandable {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.expandable-row.unlocked {
  display: grid;
  grid-template-columns: 1fr 25px;
  gap: 10px;
}

.expandable-row.locked {
  list-style: none;
}
