button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 25px;
  height: 25px;
}
